<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/css/bookmarks.css}" />
    <meta charset="UTF-8">
    <title>ブックマーク一覧</title>
</head>
<body>
    <h1>ブックマーク一覧</h1>

    <div style="margin-bottom: 20px;">
        <a href="/bookmark/add" style="background-color: #4CAF50; color: white; padding: 10px 15px; text-align: center; text-decoration: none; display: inline-block;">ブックマークを追加</a>
    </div>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>タイトル</th>
                <th>URL</th>
                <th>説明</th>
                <th>カテゴリー</th>
                <th>アクション</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="bookmark : ${bookmarks}">
                <td th:text="${bookmark.id}"></td>
                <td th:text="${bookmark.title}"></td>
                <td><a th:href="${bookmark.url}" th:text="${bookmark.url}"></a></td>
                <td th:text="${bookmark.description}"></td>
				<td th:text="${bookmarkCategories[bookmark.id]}"></td>
                <td>
                    <a th:href="@{/bookmark/edit/{id}(id=${bookmark.id})}">編集</a> |
                    <a th:href="@{/bookmark/delete/{id}(id=${bookmark.id})}">削除</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div style="margin-top: 20px;">
        <a href="/category">カテゴリー一覧</a>
    </div>
</body>
</html>